{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "7"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": false }],
    "@babel/proposal-object-rest-spread",
    ["@babel/proposal-decorators", { "legacy": true, "decoratorsBeforeExport": false }],
    "@babel/syntax-dynamic-import"
  ]
}
