html
  text-size-adjust 100%

body
  margin 0
  padding 0
  background: config.palette.bgs.body
  min-width 300px

*
*:before
*:after
  margin 0
  box-sizing border-box

input
select
textarea
  outline none
  margin 0

select
  appearance none

button
  outline none
  box-shadow none

a
button
  cursor pointer
  display inline-flex
  margin 0 auto
  cursor pointer

a
  &:hover
    color #1a1a1a !important
  &:focus
    color black !important
    outline none
    border-bottom 1px solid

blockquote
  margin 0
  text-align left

strong
  font-weight normal

img
  max-width 100%
  height auto
  display block

p
  width 100%
  margin-top 0
  text-align left

  &:last-child
    margin-bottom 0

h1
h2
h3
h4
h5
h6
  word-break break-word
  white-space normal
  max-width 100%

  &::first-letter
    text-transform uppercase

pre
  white-space pre

code
  display block
  max-width 100%
  overflow auto

ul
  li
    display block

main
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
