baseSpacingUnit = 4px
fallbackTypography = 'Helvetica'\, Arial\, sans-serif

config = {
  sizes: {
    maxContainerWidth: 1200px
  }
  palette: {
    bgs: {
      body: #f1f4f1
      ui: white
      gray: #fafafa
      dark: #1a1a1a
    }
    borders: rgba(black, .075)
    
    primary: blue
    secondary: purple
    tertiary: green
    
    highlight: #ff8add

    warn: orange
    success: green
    info: blue
    error: red
  },
  typography: {
    fams: {
      // headings: 'Cormorant Garamond'\, fallbackTypography
      headings: 'Town 80 Text'\, 'Futura'\, fallbackTypography
      body: 'Open Sans'\, fallbackTypography
      ui: 'Ubuntu'\, fallbackTypography
    },
    sizes: {
      baseLineHeight: baseSpacingUnit*5
      default: {
        body: baseSpacingUnit*3.25
        headings: {
          h1: {
            size: baseSpacingUnit*5,
            lh: baseSpacingUnit*8
          },
          h2: baseSpacingUnit*5
          h3: baseSpacingUnit*5
          h4: baseSpacingUnit*4
          h5: baseSpacingUnit*4
          h6: baseSpacingUnit*3
        }
      }
    },
    palette: {
      ui: #666666
      headings: #202020
      paragraphs: #646464,
      meta: #a7a6a5,
      light: #dedede
    }
  },
  spacings: {
    inBoxes: baseSpacingUnit*5
    betweenBoxes: baseSpacingUnit*8
  },
  radiuses: {
    boxes: 10px
    buttons: 6px
  }
  shadows: {
    boxes: 0px 0px 20px rgba(black, .025)
    boxesHover: 0px 0px 20px rgba(black, .025)\, 0 20px 32px -16px rgba(black, .05)
    header: 0px 2px 5px rgba(black, .05)
  }
  lightning: 'top-right'
}

config.palette.selectedItem = lighten(config.palette.tertiary, 95%)

fullflex(cntr=false)
  display flex
  flex 1 1 100%
  width 100%
  flex-flow column nowrap

  if cntr
    justify-content center
    align-items center

bubble()
  size 5px
  background: config.palette.highlight
  margin auto auto auto 8px
  border-radius 50%

moveFieldLabel()
  top -20px
  font-size 10px
  left 0 !important