@font-face
  font-family 'Town 80 Text'
  font-weight 100
  src url('~assets/fonts/Town80Text-Light.otf')
  src url('~assets/fonts/Town80Text-Light.woff')

@font-face
  font-family 'Town 80 Text'
  font-weight normal
  src url('~assets/fonts/Town80Text-Book.otf')
  src url('~assets/fonts/Town80Text-Book.woff')

@font-face
  font-family 'Town 80 Text'
  font-weight bold
  src url('~assets/fonts/Town80Text-Bold.otf')
  src url('~assets/fonts/Town80Text-Bold.woff')

@font-face
  font-family 'Town 80 Text'
  font-weight medium
  src url('~assets/fonts/Town80Text-Medium.otf')
  src url('~assets/fonts/Town80Text-Medium.woff')


t = config.typography

h1
h2
h3
h4
h5
h6
  font-family: t.fams.headings
  color: t.palette.headings
  font-weight 400

  a
    text-decoration none
    color: t.palette.headings

    &:hover
      text-decoration underline

h1
h2
h3
h4
h5
h6
p
blockquote
  max-width 480px

h1
  font-size: t.sizes.default.headings.h1.size
  font-weight medium

h2
  font-size: t.sizes.default.headings.h2

h3
  font-size: t.sizes.default.headings.h3

h4
  font-size: t.sizes.default.headings.h4
  margin-bottom 16px

h5
  font-size: t.sizes.default.headings.h5
  margin-bottom 16px

h6
  font-size: t.sizes.default.headings.h6
  font-weight medium
  text-transform uppercase


body
p
  font-family: t.fams.body
  font-size: t.sizes.default.body
  line-height: 24px
  color: t.palette.paragraphs

h1
h2
h3
  margin-bottom 24px
  line-height: t.sizes.default.headings.h1.lh

h4
h5
h6
  letter-spacing .66px
  margin-bottom 16px

p
blockquote
  margin-bottom 40px

blockquote
  padding-left: config.spacings.betweenBoxes
  border-left: 1px solid config.palette.headings
  font-style italic

p
  &.intro
    font-size 14px
    line-height 24px
    margin-bottom 48px

a
  cursor pointer

.ui
  font-family: t.fams.ui

  p
  a
    font-family: t.fams.ui
    color: t.palette.ui
