[data-arrow]
  position relative

[data-arrow="left"]
  flex-direction row-reverse

  &:after
    margin-right 12px
    margin-left 0
    transform rotate(90deg)

&[data-arrow="right"]
  &:after
    margin-left 12px
    margin-right 0
    transform rotate(-90deg)
