icons = activity 'arrow-right' 'alert-circle' 'bar-chart-2' check 'chevron-down' circle clock edit 'hard-drive' mail plus 'plus-circle' search send server shield settings target trash 'trending-up' users
servicii = apa electricitate gaze termoficare internet 'evacuare-gunoi-menajer'

[data-icon]
  position relative
  padding-left 36px
  
  &:before
    icon()
    margin-right 8px

  &.iconOnly
    font-size 0

    &:before
      margin 0

[data-arrow]
  &:after
    icon()
    mask-image embedurl('~static/icons/ui/chevron-down.svg')

header[data-icon]
  .widget__title
    font-size 0

  &:before
    position absolute
    left 16px
    top 50%
    size 20px
    transform translateY(-50%)
    background-color: config.typography.palette.ui
    mask-size 18px

for i in icons
  [data-icon={i}]
    &:before
      mask-image embedurl('~static/icons/ui/' + i + '.svg')

for se in servicii
  [data-icon={se}]
    &:before
      mask-image embedurl('~static/icons/servicii/' + se + '.svg')
