icons = activity 'bar-chart-2' edit 'hard-drive' search send server settings trash 'trending-up' 'plus-circle'

[data-icon]
  position relative
  padding-left 36px
  
  &:before
    content ''
    size 14px
    display block
    mask-size 13px
    mask-position 50%
    mask-repeat no-repeat
    background-color white
    margin-right 8px

  &.iconOnly
    font-size 0

    &:before
      margin 0

header[data-icon]
  .widget__title
    font-size 0

  &:before
    position absolute
    left: config.spacings.inBoxes
    top 50%
    size 20px
    transform translateY(-50%)
    background-color: config.typography.palette.ui
    mask-size 18px

for i in icons
  [data-icon={i}]
    &:before
      mask-image embedurl('~static/icons/ui/' + i + '.svg')
