.m2
  position relative
  width 14px
  display inline-block
  vertical-align baseline
  text-transform lowercase

  &:before
    content 'm'

  &:after
    content '2'
    font-size 8px
    position absolute
    right -3px
    top -2px
  