typ = config.typography.palette

.tab
  flex 1 1 100%
  display flex
  flex-flow row wrap
  align-content flex-start

  &__switcher
    list-style-type none
    display flex
    flex-flow row wrap
    padding 0
    flex 0 1 265px
    align-content flex-start
    margin-right 32px

    > li
      padding 10px 20px
      text-transform capitalize
      cursor pointer
      display flex
      flex-flow row nowrap
      align-items center
      color: typ.meta
      flex 1 1 100%

      &:before
        background-color: typ.meta

      &[aria-selected="true"]
        color: typ.headings
        background white
  
  &s
    flex 1 1 100%
    width 100%
    display flex
    flex-flow row nowrap
