.tab
  flex 1 1 100%
  display flex
  flex-flow row wrap

  &__switcher
    list-style-type none
    display flex
    flex-flow row wrap
    padding 0
    flex 0 1 25%
    align-content flex-start

    > li
      padding 10px 20px
      text-transform capitalize
      cursor pointer
      display flex
      flex-flow row nowrap
      align-items center
      color: config.typography.palette.meta
      flex 1 1 100%

      &:before
        background-color: config.typography.palette.meta

      &[aria-selected="true"]
        font-weight bold
  
  &s
    flex 1 1 100%
    width 100%
    display flex
    flex-flow row nowrap
