.tab
  &__switcher
    list-style-type none
    display flex
    flex-flow row wrap
    padding 0

    > li
      padding 20px
      text-transform capitalize
      cursor pointer

      &[aria-selected="true"]
        font-weight bold