[data-tip]
  position relative

  &:after
    display block
    content attr(data-tip)
    font-size 11px
    color white
    position absolute
    z-index 100
    bottom 105%
    left 50%
    transform translateX(-50%)
    background-color: config.palette.bgs.dark
    padding 0 12px
    border-radius 3px
    opacity 0
    visibility hidden
    text-transform capitalize
  
  &:hover
    &:after
      bottom 101%
      visibility visible
      opacity 1