bubblish()
  content ''
  bubble()

.ultima
.ultimul
  > .nume
  > .ap__nr
    display flex
    
    &:after
      bubblish()

  > .nume
    flex-flow row nowrap

  > .ap__nr
    flex-flow column nowrap

    &:after
      margin 0 auto